<div class="page">
  <nav>
    <div id="logo">
      <img src="/assets/logo.png" width="180" height="90" />
    </div>
    <ul class="navigation-menu">
      <li><a href="/client">Dashboard</a></li>
      <li ><a href="/af">Appel de Fond</a></li>
      <li><a href="/lv">Levee de Fond</a></li>
      <li><a href="/md">Mise à Disposition</a></li>
      <li class="active"> <a href="/echange">Echange</a></li>
    </ul>

    <button class="notification-btn">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="feather feather-bell">
        <path d="M18 8A6 6 0 0 0 6 8c0 7-3 9-3 9h18s-3-2-3-9" />
        <path d="M13.73 21a2 2 0 0 1-3.46 0" />
      </svg>
    </button>
    <button class="profile-btn" (click)="toggleProfilePopup()">
      <img src="https://icons.veryicon.com/png/o/miscellaneous/two-color-icon-library/user-286.png" />
      <span class="name">{{ userName }} {{ lastName }}</span>
    </button>
    <div class="profile-popup" *ngIf="showProfilePopup">
      <ul>
        <li><a href="#" (click)="goToProfile()">Profile</a></li>
        <li><a href="#" (click)="logout()">Logout</a></li>
      </ul>
    </div>
  </nav>
  <div class="sec2">
    <div>
      <p class="title">Ajouter a votre Appel du fond</p><br>
    </div>
  <div class="activities">

      <div class="form-info">
        <div class="tables">
        <table>
          <tr>
            <th>Code Banque</th>
            <td>07</td>
          </tr>
          <tr>
            <th>Code Agence</th>
            <td>04</td>
          </tr>
          <tr>
            <th>Region</th>
            <td>Tunis</td>
          </tr>
        </table>
      </div>
    <div class="tab2">
        <table>
          <tr>
            <th>Banque</th>
            <td>AMEN BANK</td>
          </tr>
          <tr>
            <th>Agence</th>
            <td>MOHAMED V</td>
          </tr>
          <tr>
            <th>Email</th>
            <td>Agencemh5ab&#64;gmail.com</td>
          </tr>
        </table>
      </div>
        </div>
<div class="form2">
<form [formGroup]="echangeForm" (ngSubmit)="onSubmit()">
  <label for="montant">Montant:</label>
  <input id="montant" formControlName="montant" type="number" />

  <label for="state">State:</label>
  <input id="state" formControlName="state" type="text" />

  <label for="livrer">Livrer:</label>
  <input id="livrer" formControlName="livrer" type="checkbox" />

  <button type="submit" [disabled]="!echangeForm.valid">Save</button>
</form>
</div>
</div>
</div>
